<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>18/10/28 15:32:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC002_CreateLead@66480dd7]">CreateLead</td> 
  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/10/28 15:33:32</td>   <td>43225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCases.TC002_CreateLead@66480dd7]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/10/28 15:32:45</td>   <td>-4251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC002_CreateLead@66480dd7]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/28 15:32:44</td>   <td>-4798</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testCases.TC002_CreateLead@66480dd7]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
</table>
